
<% if @current_user %>
<h1>New Place</h1>
<%= form_with model: @place do |form| %>
  <div class="mb-3">
      <%= form.label "name", class: "form-label" %>
      <%= form.text_field "name", class: "form-control" %>
  </div>
  <div>
    <%= form.submit "Create Post", class: "btn btn-primary" %>
  <div>
<% else %>
You must first <a href="/sessions/new">login</a> to create a new place.
<% end %>